<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </head>
     
    <div class="col d-flex justify-content-center" >
    
        <div class="card text-center" style="width:500px">     
        <img src="assets/image/company.png" alt="Avatar" alt="Card image" style="width:50%" style="height:-5%" >
        <div class="card-body">
        <h2>Name: {{company.Nom}}</h2> 
        <h4>Country: {{company.Country}}</h4>
        <h4>Address : {{company.Adress}}</h4>
        <h4>Number of posts : {{company.Post}}</h4>
        <h4>send cv: {{company.send}}</h4>
        <button class="btn btn-secondary " [disabled]="company.Post==company.send" (click)="notif()">cv</button>
    </div>
    <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    </div>
    </html>
    
    
    
    
    