<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <div>
    <nav class="navbar navbar-light bg-light" >
    <div class="container-fluid">
      <button routerLink="/employee" type="button" class="btn ">add Employees</button>
       <p text-align="center"><b>Welcome Admin</b></p>

    </div>
    </nav>

<br>

</div>
<app-employee-list></app-employee-list>
